body{
    background-color: black;
}

.Clock{
    position: absolute;
    color:azure;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 8px;
}